.results {
  @include listUnstyled;

  .result {
    + .result {
      margin-top: $minPadding;
    }

    .question {
      @include subheadingPrimary;
      font-weight: $medium;
    }

    .answer {
      margin-left: $minPadding;

      &.graph {
        max-width: 320px;
      }
    }

    .answer-content, .unit {
      text-decoration: underline;
    }
  }
}
