section {
  .section-title + * {
    margin-top: $verticalSpace;
  }

  + .nav-secondary {
    margin-top: 2 * $minPadding;
  }

  p {
    @include copyPrimary;

    + h3 {
      margin-top: 2 * $verticalSpace;
    }
  }

  .list-title {
    font-weight: $medium;

    + ul {
      margin-top: $verticalSpace;
    }
  }

  ul {
    @include listUnstyled;
    @include copySecondary;

    li {
      + li {
        margin-top: 0.5 * $verticalSpace;
      }
    }
  }

  ol {
    @include copySecondary;
    padding-left: 15px;
    margin: 0.5 * $verticalSpace 0;

    li {
      + li {
        margin-top: 0.5 * $verticalSpace;
      }
    }
  }
}
