.data-bar {
  cursor: pointer;
  transition: fill $durationSlow $timing;

  &:focus {
    outline: none;
  }
}

.mean-bar {
  transition: fill $durationSlow $timing;

  &:focus {
    outline: none;
  }
}
