.histogram {
  .data-bar {
    fill: $baseSecondaryLight;
    stroke: $black;

    &.hovered {
      fill: $baseSecondary;
    }

    &.selected {
      fill: $baseSecondaryDark;
    }
  }

  .mean-bar {
    fill: $black;
  }

  .mean-text {
    font-size: 12px;

    .inner-text {
      transform: translateX(50%);
    }
  }
}
