.scatter-plot {
  width: 100%;
  height: auto;

  path.draggable-path {
    stroke: $black;
  }

  .data-point {
    fill: yellow;
    stroke: $black;

    &.user {
      fill: yellow;
    }

    &.astronomer {
      fill: red;
    }

    &.hovered {
      fill: red;
    }

    &.selected {
      fill: blue;
    }
  }
}

.cluster-name {
  @keyframes hide {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  &.combined {
    animation: hide 2s $timing 2s forwards;
  }
}
