.data-point {
  cursor: pointer;
  fill: yellow;
  transition: fill $durationSlow $timing;

  &:focus {
    outline: none;
  }

  &.hovered {
    fill: red;
  }

  &.selected {
    fill: blue;
  }
}

.star-selector {
  .data-point {
    cursor: pointer;
    fill: transparent;

    &.selected {
      fill: red;
    }
  }
}
