// Component Structure
// -------------------

// Structure-only mixins (and maybe utility classes), with parameters for margins, padding, position, display, etc.

// They may contain:
// Nested classes/elements that have structural parameters only

// NB: Containers that are modular regardless of context can use em units
// Structure should not be dependent on typography styles but font-size CAN be used as a structural style if necessary
// for scaling


// Containers
// --------------------------------------------------------

.container-main {
  display: block;
  max-width: $containerMaxWidth;
  padding: $siteHeaderHeight + $minPadding $minPadding $minPadding $minPadding;
  margin: 0 auto;
}

.container-flex, .md-card.container-flex, .md-card-text.container-flex,  {
  display: flex;

  &.wrap {
    flex-wrap: wrap;
  }

  &.spaced {
    justify-content: space-between;
  }

  &.centered {
    align-items: center;
  }

  + .container-flex {
    margin-top: $minPadding;
  }

  .align-bottom {
    align-self: flex-end;
  }

  .align-top {
    align-self: flex-start;
  }

  .col-width-50 {
    width: 50%;

    &.padded {
      width: calc(50% - #{$minPadding});
    }

    .col-graph {
      margin-left: 11px;

      h2 {
        margin-bottom: calc(#{$verticalSpace} + 8px);
      }
    }
  }
}


// Utilities
// --------------------------------------------------------
.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

